body {
}

.navbar {
	margin-bottom:8px;
	background-color: #0C4A66;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #dcdcdc;
}
.navbar-default .navbar-nav>li>a:focus {
	color: #dcdcdc;
}


.page-body {
	/* padding-top: 20px; */
	background-color: #fff;
}

#bodyContainer {
	margin: 0 18px;
}

#avaliableQty {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.buy-sell-panel {
	background-color: #f5f5f5;
}
.buy-panel {
	border-right: 1px solid #ddd;
}
.clear-both {
	clear: both;
}

.my-rank {
	padding-bottom: 8px;
}

#quoteContainer {
	min-height: 80px;
}

.quote-price {
	font-size: 180%
}