body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:238px;
  top:274px;
  width:502px;
  height:36px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
