body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:40px;
  width:460px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:18px;
  top:70px;
  width:62px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:18px;
  top:115px;
  width:62px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:160px;
  width:62px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:18px;
  top:209px;
  width:62px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:278px;
  top:209px;
  width:102px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:364px;
  width:100px;
  height:26px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:120px;
  top:70px;
  width:64px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:120px;
  top:115px;
  width:150px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:160px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:120px;
  top:209px;
  width:43px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:8px;
  top:400px;
  width:422px;
  height:180px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:180px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:8px;
  top:244px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:7px;
  top:284px;
  width:248px;
  height:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:278px;
  top:244px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:318px;
  top:244px;
  width:64px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:344px;
  width:460px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:225px;
  width:460px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
