body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:111px;
  width:1021px;
  height:549px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:549px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:659px;
  top:471px;
  width:291px;
  height:108px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:108px;
}
#u3 {
  position:absolute;
  left:2px;
  top:46px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:730px;
  top:477px;
  width:139px;
  height:23px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:850px;
  top:481px;
  width:100px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:708px;
  top:251px;
  width:169px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:700px;
  top:294px;
  width:136px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:650px;
  top:37px;
  width:150px;
  height:74px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:74px;
}
#u13 {
  position:absolute;
  left:2px;
  top:29px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:26px;
  width:780px;
  height:85px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:85px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:780px;
  top:26px;
  width:241px;
  height:85px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:85px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:532px;
  top:50px;
  width:489px;
  height:57px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:57px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:213px;
  top:29px;
  width:319px;
  height:82px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:82px;
}
#u21 {
  position:absolute;
  left:2px;
  top:33px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
